body {
  background: url(../img/paisley.png);
  /*background-color: lightgreen !important;*/
  font-family: Comic Sans MS !important;
  font-size: 10px;
}

div {
  /*red green blue */
  /* 0 - 255 */
  /*background-color: #FFF;*/

  background: url(../img/asanoha-400px.png);
  /*background: rgba(255, 0, 0, 0.5);*/
  font-size: 2em; /* 10px * 2em = 20px */
}

img {
  width: 200px;
}
